h1  {
  background-color: #33DDFF;
  border: solid black;
  margin: 0;
 
  padding: 1.75%;
  text-align: center;
  float: inherit;

  color: #B3FFCC;
}

ul  {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #732FC0;
}

li  {
  font-family: Helvetica;
}

li a {
  list-style: none;
  margin: 01%;
  background-color: #2FC0A6;
 
  display: block;
  padding: 0px 0px;
  color: #FFFFFF;
}
li a:hover {
  background:#C40D0D;
  color: #732FC0;
}
